In [6]:
myfamily = {
  "child1" : {"name" : "Emil","year" : 2004 },
  "child2" : {"name" : "Tobias","year" : 2007},
  "child3" : {"name" : "Linus","year" : 2011}
}

myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [7]:
myfamily["child1"]

{'name': 'Emil', 'year': 2004}

In [8]:
myfamily["child1"]["name"]

'Emil'

In [9]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}



child2 = {
  "name" : "Tobias",
  "year" : 2007
}


child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [10]:
myfamily.values()

dict_values([{'name': 'Emil', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])

In [3]:
child1 = {"name" : "Emil","year" : 2004}
for i in child1.values():
    print(i)

Emil
2004

In [13]:
child1 = {"name" : "Emil","year" : 2004}
for i in child1.items():
    print(i)

('name', 'Emil')
('year', 2004)

In [14]:
child1 = {"name" : "Emil","year" : 2004}
for i in child1.keys():
    print(i)

name
year

In [15]:
child1 = {"name" : "Emil","year" : 2004}
for i in child1.values():
    print(i)

Emil
2004