# 1.anagram

In [ ]:
def is_anagram(str1, str2):
    if count_chars(str1) == count_chars(str2):
        print(count_chars(str1),count_chars(str2))
        return True
    return False

def count_chars(s):
    d = {}
    for c in s:
        if c in d:
            d[c] += 1
        else:
            d[c] = 1
    return d


if is_anagram("silent","listen"):
    print("anagram")
else:
    print("not anagram")

# 2.Palindrome

In [10]:
def is_Palindrome(str1):
    if str1==str1[::-1]:
        print("yes palindrome")
    else:
        print("not a panlindrome")
    

is_Palindrome("malayalam")

yes palindrome

# 3.PRIME OR NOT A PRIME

In [1]:
# k=int(input("enter the number"))
def is_prime(k):
    out=False
    if k<=1:
          print("not a prime number")
    else:
        for i in range(2,k):
            if k%i==0:
                print(k%i)
                out=True
                break
    
        if out:
            print("its not a prime")
        else:
            print("its  a prime")


k=int(input("enter the number"))
is_prime(k)

enter the number 2

its  a prime

# 4.fibonacci series

In [13]:
def fibonacci_series(n):
    a=0
    b=1
    c=[]
    while a<=n:
        d=a+b
        c.append(a)
        a,b=b,d
    return c
fibonacci_series(5)

[0, 1, 1, 2, 3, 5]

# 5.Maximum and Minimum Number

In [14]:
f=[1,3,4,5,112,3,4,5]
max_num=f[0]
min_num=f[0]
for i in f:
    if i<max_num:
        max_num=i
    if i>min_num:
        min_num=i
print(min_num,"min_num")
print(max_num,"max_num")

112 min_num
1 max_num

# 6.ascending and descending

In [15]:
f=[1,3,4,5,11278,44,66,90,1]
for i in range(len(f)):
    for j in range(len(f)):
        if f[i]>f[j]:
            f[i],f[j]=f[j],f[i]
print(f)

[11278, 90, 66, 44, 5, 4, 3, 1, 1]

In [16]:
f=[1,3,4,5,11278,44,66,90,1]
for i in range(len(f)):
    for j in range(len(f)):
        if f[i]<f[j]:
            f[i],f[j]=f[j],f[i]
print(f)

[1, 1, 3, 4, 5, 44, 66, 90, 11278]

# 7.2nd Largest and 2nd Smallest Number

In [19]:
f=[1,3,4,5,11278,44,66,90]
for i in range(len(f)):
    for j in range(len(f)):
        if f[i]<f[j]:
            f[i],f[j]=f[j],f[i]
print(f[1],"second smallest")
print(f[-2],"second largest")

3 second smallest
90 second largest

# 8.Check Even or Odd

In [22]:
def even_or_odd(n):
    if n % 2 == 0:
        return "Even"
    return "Odd"
even_or_odd(6)

'Even'

# 9. Count the Frequency of Elements in a List

In [26]:

def frequent_elemnets(lst):

    D={}
    for i in lst:
        if i not in D:
            D[i]=1
        else:
            D[i]+=1
    return D

frequent_elemnets([1,3,4,5,1,2,3])

{1: 2, 3: 2, 4: 1, 5: 1, 2: 1}

## 10.Generate Multiplication Table

In [31]:
def multiplication_table(n):
    i = 1
    while i <= 10:
        print(i, "x", n, "=", n * i)
        i += 1

# Sample
multiplication_table(5)

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

# 11.Remove Duplicates from List

In [30]:
l=[1,23,2,1,23,22,1]

def remove_dupli(l):
    k=[]
    for i in l:
        if i not in k:
            k.append(i)
    return k


remove_dupli([1,23,2,1,23,22,1])

[1, 23, 2, 22]

## 12.Check if List is Palindrome|

In [39]:
l=["a", "b", "c", "b", "a"]
def is_list_palindrome(lst):
    length=0
    out=True
    for _ in l:
        length+=1
    for i  in range(length):
        length-=1
        if l[i]!=l[length]:
            out=False
            break
        else:
            out=True
    return out


is_list_palindrome(l)

True

### 13.Check Leap Year

In [4]:
year = 2040

if (year%400 == 0) or (year%4==0 and year%100!=0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Leap Year